// Base HTML Styles

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -ms-box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 100% * ($base-font-size / 16);
  line-height: $base-line-height;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

img,
picture,
object,
figure,
input,
svg {
  max-width: 100%;
  height: auto;
}
