// Base Typography Styles

// Headers
h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
}

// Other
p,
pre {
  margin: 0;
}

em,
i {
  font-style: italic;
}

blockquote {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

sup {
  vertical-align: super;
  font-size: 50%;
  line-height: 0;
}

sub {
  vertical-align: sub;
  font-size: 50%;
  line-height: 0;
}
