// Small administrative fixes

// Adding underline under admin menu items
ul.tabs {
  border-bottom: 1px solid #ccc;
}

// Fixing contextual link dropdowns if overriden in theme
ul.contextual-links li {
  position: relative !important;
  display: block !important;
  float: none !important;
}

.contextual-links a {
  color: #000 !important;

  &:hover {
    text-decoration: underline !important;
    color: #000 !important;
  }
}

// Removing dropdown arrow from expanded menu items
.menu-item--expanded,
.menu-item--collapsed {
  list-style-type: none;
  list-style-image: none;
}

// Adding visible styling to unpublished nodes
.node--unpublished {
  background-color: #fff4f4;
}
