.layout-container {
  margin: (2 * $vertical-spacing) 0;
}

.container {
  max-width: $max-page-width;
  margin: 0 auto;
  // outline: $debug-orange;
}

.region {
  padding: $vertical-spacing 0;
  outline: $debug-blue;
}

@media (max-width: $desktop) {
  .container {
    margin: 0 $page-margin;
  }
}
